<header>
  <nav>
    <div class="top-row">
      <h1>{{ "USER_MANAGEMENT.USER_MANAGEMENT" | translate }}</h1>
    </div>
    <div class="search-container">
      <select [(ngModel)]="selectedFilter" (change)="filterUsers()">
        <option value="default">
          {{ "USER_MANAGEMENT.FILTER_BY" | translate }}
        </option>
        <option value="name">{{ "USER_MANAGEMENT.NAME" | translate }}</option>
        <option value="shipname">
          {{ "USER_MANAGEMENT.SHIPNAME" | translate }}
        </option>
        <option value="products">
          {{ "USER_MANAGEMENT.PRODUCTS" | translate }}
        </option>
        <option value="certificates">
          {{ "USER_MANAGEMENT.CERTIFICATES" | translate }}
        </option>
      </select>
      <div class="search-input-container">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="filterUsers()"
          name="search-sailors"
          [placeholder]="'USER_MANAGEMENT.SEARCH_USERS' | translate"
        />
      </div>
    </div>
    <div class="sailors-list">
      <table>
        <thead>
          <tr>
            <th class="name-column">
              {{ ("USER_MANAGEMENT.NAME" | translate).toUpperCase() }}
            </th>
            <th class="products-column">
              {{ ("USER_MANAGEMENT.PRODUCTS" | translate).toUpperCase() }}
            </th>
            <th class="certificates-column">
              {{ ("USER_MANAGEMENT.CERTIFICATES" | translate).toUpperCase() }}
            </th>
            <th class="progress-column">
              {{ "USER_MANAGEMENT.MODULES_PROGRESS" | translate }}
            </th>
          </tr>
        </thead>
        <tbody>
          @for (user of filteredUserList; track $index) {
          <tr [routerLink]="['/userdetail', user.id]">
            <td class="name-cell">
              <div class="initials">
                {{ user.firstname.charAt(0).toUpperCase()
                }}{{ user.lastname.charAt(0).toUpperCase() }}
              </div>
              <div class="sailor-details">
                <div class="sailor-name">
                  {{ user.firstname }} {{ user.lastname }}
                </div>
                <div class="sailor-schip">{{ user.shipname }}</div>
              </div>
            </td>
            <td>{{ user.products }}</td>
            <td>
              <span class="certificate-tag active">{{
                user.certificates
              }}</span>
            </td>
            <td>
              <div class="progress-container">
                <div class="progress-bar">
                  <div class="progress" style="width: 85%"></div>
                </div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </nav>
</header>
