.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.exam-settings {
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-bottom: 15px;
  background: white;
  padding: 20px;
  padding-right: 37px;
  border-radius: 8px;
  border: 2px solid #eee;
}

.exam-settings.title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
}

.settings-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.setting-item {
  display: flex;
  flex-direction: column;
}

.exam-settings.label {
  font-weight: 500;
  margin-bottom: 5px;
}

.exam-settings.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.hint {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

.question-pool {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  padding-right: 37px;
  border-radius: 8px;
  border: 2px solid #eee;
}

.question-pool-container {
  margin: auto;
  margin-top: 10px;
  background-color: #eee;
  padding: 20px;
  padding-right: 37px;
  border-radius: 8px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 5px;
}

.label {
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

.answer-option {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.answer-option input[type="radio"] {
  margin: 0;
}

.delete-btn {
  background: none;
  border: none;
  color: #898686;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.add-option-btn {
  background: none;
  border: none;
  color: #898686;
  cursor: pointer;
  font-size: 14px;
}

.add-question-btn {
  background-color: #fbbf24;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  height: 37px;
}
