<form class="form-container">
  <div class="form-group">
    <label>{{ "ADMIN_EDIT_TRAININGS.MODULE_TITLE" | translate }}</label>
    <input
      #titleRef
      type="text"
      class="form-control"
      (change)="titleChange()"
      [placeholder]="'ADMIN_EDIT_TRAININGS.ENTER_MODULE_TITLE' | translate"
    />
  </div>
  <div class="form-group">
    <label>{{ "ADMIN_EDIT_TRAININGS.MODULE_DESCRIPTION" | translate }}</label>
    <textarea
      #descriptionRef
      class="form-control"
      (change)="descriptionChange()"
      [placeholder]="'ADMIN_EDIT_TRAININGS.ENTER_DESCRIPTION' | translate"
      style="font-family: Arial, Helvetica, sans-serif"
    ></textarea>
  </div>
  <div class="form-group">
    <label>{{ "ADMIN_EDIT_TRAININGS.MODULE_CONTENT" | translate }}</label>
    @for (content of trainingService.newModule.content; track $index) {
    @if(content.contentType === ContentType.TEXT){
    <textarea
      #contentRef
      class="form-control form-height"
      (input)="textChange($index)"
      maxlength="500"
      [placeholder]="'ADMIN_ADD_TRAININGS.ENTER_CONTENT_TEXT' | translate"
      style="font-family: Arial, Helvetica, sans-serif"
    ></textarea>
    } @else if(content.contentType === ContentType.PICTURE){
    <div class="video-upload">
      @if(selectedImagePreview[$index][selectedLanguage] == ""){
      <div class="upload-box">
        <fa-icon [icon]="faUpload" class="upload-icon"></fa-icon>
        <p>{{ "ADMIN_EDIT_TRAININGS.VIDEO_DESCRIPTION" | translate }}</p>
        <p>{{ "ADMIN_EDIT_TRAININGS.IMAGE_FORMAT" | translate }}</p>
        <input
          #contentRef
          #imageRef
          type="file"
          id="imageInput"
          accept="image/png,image/jpeg"
          (change)="imageChange($index, $event)"
        />
      </div>
      } @else{
      <div style="position: relative">
        <button
          class="delete-image-btn"
          type="button"
          (click)="removeImage($index)"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
        <img
          [src]="selectedImagePreview[$index][selectedLanguage]"
          alt="Selected image"
          class="picture-preview"
          style="display: block"
        />
      </div>
      }
    </div>
    } @else if(content.contentType === ContentType.VIDEO){
    <div class="video-upload">
      @if(selectedVideoPreview[$index][selectedLanguage] == ""){
      <div class="upload-box">
        <fa-icon [icon]="faUpload" class="upload-icon"></fa-icon>
        <p>{{ "ADMIN_EDIT_TRAININGS.VIDEO_DESCRIPTION" | translate }}</p>
        <p>{{ "ADMIN_EDIT_TRAININGS.VIDEO_FORMAT" | translate }}</p>
        <input
          #contentRef
          #videoRef
          type="file"
          id="videoInput"
          accept="video/mp4,video/webm,video/ogg"
          (change)="videoChange($index, $event)"
        />
      </div>
      } @else{
      <div style="position: relative">
        <button
          class="delete-image-btn"
          type="button"
          (click)="removeVideo($index)"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
        <video
          [src]="selectedVideoPreview[$index][selectedLanguage]"
          controls
          class="video-preview"
          style="display: block; max-width: 100%"
        ></video>
      </div>
      }
    </div>
    } }
  </div>
  <div class="btn-content-add">
    <button type="button" class="btn-add-text" (click)="addTextField()">
      Add text
    </button>
    <button type="button" class="btn-add-pic" (click)="addPictureField()">
      Add picture
    </button>
    <button type="button" class="btn-add-vid" (click)="addVideoField()">
      Add video
    </button>
  </div>
</form>
