<form class="form-container">
  <div class="form-group">
    <label>{{ "ADMIN_EDIT_TRAININGS.MODULE_TITLE" | translate }}</label>
    <input
      #titleRef
      type="text"
      class="form-control"
      [placeholder]="'ADMIN_EDIT_TRAININGS.ENTER_MODULE_TITLE' | translate"
      [(ngModel)]="trainingService.newModule.title[selectedLanguage]"
      name="title"
      maxlength="50"
    />
  </div>
  <div class="form-group">
    <label>{{ "ADMIN_EDIT_TRAININGS.MODULE_DESCRIPTION" | translate }}</label>
    <textarea
      #descriptionRef
      class="form-control"
      [placeholder]="'ADMIN_EDIT_TRAININGS.ENTER_DESCRIPTION' | translate"
      style="font-family: Arial, Helvetica, sans-serif"
      [(ngModel)]="trainingService.newModule.description[selectedLanguage]"
      name="description"
      maxlength="255"
    ></textarea>
  </div>
  <div class="form-group">
    <label>{{ "ADMIN_EDIT_TRAININGS.MODULE_CONTENT" | translate }}</label>
    @for (content of trainingService.newModule.content; track $index) {
    @if(content.content_type === ContentType.TEXT){
    <div style="position: relative">
      <textarea
        #contentRef
        class="form-control form-height"
        maxlength="255"
        [placeholder]="'ADMIN_ADD_TRAININGS.ENTER_CONTENT_TEXT' | translate"
        style="font-family: Arial, Helvetica, sans-serif"
        [(ngModel)]="
          trainingService.newModule.content[$index].reference[selectedLanguage]
        "
        name="text_{{ $index }}"
      ></textarea>
      <button (click)="deleteContent($index)" class="btn-delete-content">
        <fa-icon [icon]="faTrash" style="color: gray"></fa-icon>
      </button>
    </div>
    } @else if(content.content_type === ContentType.PICTURE){
    <div class="video-upload">
      @if(trainingService.newModule.content[$index].reference[ selectedLanguage
      ] == ""){
      <div class="upload-box">
        <fa-icon [icon]="faUpload" class="upload-icon"></fa-icon>
        <p>{{ "ADMIN_EDIT_TRAININGS.VIDEO_DESCRIPTION" | translate }}</p>
        <p>{{ "ADMIN_EDIT_TRAININGS.IMAGE_FORMAT" | translate }}</p>
        <input
          #contentRef
          #imageRef
          type="file"
          id="imageInput"
          accept="image/png,image/jpeg"
          (change)="imageChange($index, $event)"
        />
        <button (click)="deleteContent($index)" class="btn-delete-content">
          <fa-icon [icon]="faTrash" style="color: gray"></fa-icon>
        </button>
      </div>
      } @else{
      <div style="position: relative">
        <button
          class="delete-image-btn"
          type="button"
          (click)="removeImage($index)"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
        @if(trainingService.editModuleIndexGet != -1){
        <img
          [src]="
            this.trainingService.imagePreviews[
              trainingService.editModuleIndexGet
            ][$index][selectedLanguage]
          "
          alt="Selected image"
          class="picture-preview"
          style="display: block"
        />
        } @else{
        <img
          [src]="
            this.trainingService.imagePreviews[
              trainingService.newTraining.modules.length
            ][$index][selectedLanguage]
          "
          alt="Selected image"
          class="picture-preview"
          style="display: block"
        />
        }
      </div>
      }
    </div>
    } @else if(content.content_type === ContentType.VIDEO){
    <div class="video-upload">
      @if(trainingService.newModule.content[$index].reference[ selectedLanguage
      ] == ""){
      <div class="upload-box">
        <fa-icon [icon]="faUpload" class="upload-icon"></fa-icon>
        <p>{{ "ADMIN_EDIT_TRAININGS.VIDEO_DESCRIPTION" | translate }}</p>
        <p>{{ "ADMIN_EDIT_TRAININGS.VIDEO_FORMAT" | translate }}</p>
        <input
          #contentRef
          #videoRef
          type="file"
          id="videoInput"
          accept="video/mp4,video/webm,video/ogg"
          (change)="videoChange($index, $event)"
        />
        <button (click)="deleteContent($index)" class="btn-delete-content">
          <fa-icon [icon]="faTrash" style="color: gray"></fa-icon>
        </button>
      </div>
      } @else{
      <div style="position: relative">
        <button
          class="delete-image-btn"
          type="button"
          (click)="removeVideo($index)"
          style="z-index: 1"
        >
          <fa-icon [icon]="faTimes"></fa-icon>
        </button>
        @if(trainingService.editModuleIndexGet != -1){
        <video
          [src]="
            this.trainingService.videoPreviews[
              trainingService.editModuleIndexGet
            ][$index][selectedLanguage]
          "
          controls
          class="video-preview"
          style="display: block; max-width: 100%"
        ></video>
        } @else {
        <video
          [src]="
            this.trainingService.videoPreviews[
              trainingService.newTraining.modules.length
            ][$index][selectedLanguage]
          "
          controls
          class="video-preview"
          style="display: block; max-width: 100%"
        ></video>
        }
      </div>
      }
    </div>
    } }
  </div>
  <div class="btn-content-add">
    <button type="button" class="btn-add-text" (click)="addTextField()">
      Add text
    </button>
    <button type="button" class="btn-add-pic" (click)="addPictureField()">
      Add picture
    </button>
    <button type="button" class="btn-add-vid" (click)="addVideoField()">
      Add video
    </button>
  </div>
</form>
