<div class="chat-container">
    <div class="sidebar">
        <div class="search-bar">
            <input type="text" class="search-input" placeholder="Search users...">
        </div>
        <div class="contacts-list">
            @for(chat of chats; track $index) {
                <div class="contact" (click)="changeChat($index)">
                    <div class="avatar sailor-icon">{{chat.firstname[0]}}{{chat.lastname[0]}}</div>
                    <div class="contact-info">
                        <div class="contact-name">{{chat.firstname}} {{chat.lastname}}</div>
                        <div class="contact-role">{{chat.shipname}}</div>
                    </div>
                    <span class="status-badge" [ngClass]="statusClassMap[chat.status]">{{ chat.status.toString().replace('_', ' ').toLocaleLowerCase() | titlecase }}</span>
                </div>
            }
        </div>
    </div>
    <div class="chat-area">
        <div class="chat-header">
            <div class="chat-title">{{currentChat.firstname}} {{currentChat.lastname}}</div>
            @if(currentChat.status.toString()=='NOT_STARTED') {
                <button class="claim-button" (click)="claimSupportTicket()">Start ticket</button>
            }
            <button class="resolve-button resolved">
                <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                    <polyline points="20 6 9 17 4 12"></polyline>
                </svg>
                Mark as Resolved
            </button>
        </div>
        <div class="message-area">
            @for(message of messageList; track $index) {
                <div class="message" [ngClass]="{ 'my-message': message.chat_member_id === currentChatMemberId }">
                    <div class="message-bubble" [ngClass]="">
                        {{message.text_content}}
                    </div>
                    <div class="message-meta">{{message.date_time | date:'d/MM/yyyy, H:mm:ss'}}</div>
                </div>
            }
        </div>
        <div class="input-area">
            <input type="text" class="message-input" placeholder="Type your message..." [(ngModel)]="message" (keydown.enter)="sendMessage()" maxlength="255">
            <button class="send-button" (click)="sendMessage()">
                <fa-icon [icon]="faPaperPlane"></fa-icon>
            </button>
        </div>
    </div>
</div>