<form class="form-container">
  <div class="form-group">
    <label> {{ "ADMIN_EDIT_MODULES.TRAINING_TITLE" | translate }}</label>
    <input type="text" class="form-control" />
  </div>

  <div class="form-group">
    <label> {{ "ADMIN_EDIT_MODULES.TRAINING_DESCRIPTION" | translate }}</label>
    <textarea class="form-control"></textarea>
  </div>

  <div class="form-group">
    <label>{{ "ADMIN_EDIT_MODULES.VIDEO" | translate }}</label>
    <div class="video-upload">
      <div class="language-selection">
        <button class="lang-btn active">NL</button>
        <button class="lang-btn">FR</button>
        <button class="lang-btn">DE</button>
        <button class="lang-btn active">EN</button>
      </div>
      <div class="upload-box">
        <div class="upload-icon">⬆</div>
        <p>
          {{ "ADMIN_EDIT_MODULES.VIDEO_DESCRIPTION" | translate }}
        </p>
        <p>
          {{ "ADMIN_EDIT_MODULES.VIDEO_FORMAT" | translate }}
        </p>
        <input type="file" accept="video/mp4,video/webm,video/ogg" />
      </div>
    </div>
  </div>
</form>

<div class="question-pool">
  <div class="button-container">
    <h3 class="title">
      {{ "ADMIN_EDIT_MODULES.QUESTION_POOL" | translate }}
    </h3>
    <button class="add-question-btn">
      {{ "ADMIN_EDIT_MODULES.ADD_QUESTION" | translate }}
    </button>
  </div>

  <div class="question-pool-container">
    <label class="label">{{
      "ADMIN_EDIT_MODULES.QUESTION_TYPE" | translate
    }}</label>
    <select class="input">
      <option>
        {{ "ADMIN_EDIT_MODULES.MULTIPLE_CHOICE" | translate }}
      </option>
      <option>
        {{ "ADMIN_EDIT_MODULES.TRUE_FALSE" | translate }}
      </option>
    </select>

    <label class="label">{{
      "ADMIN_EDIT_MODULES.QUESTION_TEXT" | translate
    }}</label>
    <textarea class="input"></textarea>

    <label class="label">
      {{ "ADMIN_EDIT_MODULES.ANSWER_OPTION" | translate }}</label
    >
    <div class="answer-option">
      <input type="radio" />
      <input
        type="text"
        class="input"
        [placeholder]="'ADMIN_EDIT_MODULES.OPTION_PLACEHOLDER' | translate"
      />
      <button class="delete-btn">✖</button>
    </div>
    <button class="add-option-btn">
      {{ "ADMIN_EDIT_MODULES.ADD_OPTION" | translate }}
    </button>
  </div>
</div>
