<div class="modal">
  <div class="modal-header">
    <h2>{{ "ADMIN_EDIT_TRAININGS.TITLE" | translate }}</h2>
  </div>

  <div class="tabs">
    <a [routerLink]="['/edit-training/basic-info']" [routerLinkActive]="'active'">
      {{ "ADMIN_EDIT_TRAININGS.BASIC_INFO_TAB" | translate }}
    </a>
    <a [routerLink]="['/edit-training/modules']" [routerLinkActive]="'active'">
      {{ "ADMIN_EDIT_TRAININGS.MODULES_TAB" | translate }}
    </a>
    <a [routerLink]="['/edit-training/exam']" [routerLinkActive]="'active'">
      {{ "ADMIN_EDIT_TRAININGS.EXAM_TAB" | translate }}
    </a>
  </div>

  <div class="form-group">
    <router-outlet></router-outlet>
  </div>
</div>
