<div class="module-overview-container">
  <div class="training-header">
    <h1 class="training-title">{{ getLocalizedTitle() }}</h1>
  </div>

  <div class="training-content">
    <div class="about-section">
      <h2>{{ "TRAINING_OVERVIEW.ABOUT_TRAINING" | translate }}</h2>
      <p>{{ getLocalizedDescription() }}</p>
    </div>

    <div class="module-sections">
      <h2>{{ "TRAINING_OVERVIEW.MODULES" | translate }}:</h2>
@if(userTraining) {
      @for (section of moduleSections; track $index) {
      <div class="module-section">
        <div class="section-content">
          <div class="section-header">
            <h3>
              {{ $index+1 }}. {{ section.title }}
              @if (section.completed) {
              <span class="status-badge">
                <fa-icon [icon]="faCheckCircle" class="button-icon"></fa-icon>
                {{ "TRAINING_OVERVIEW.COMPLETED" | translate }}</span
              >
              }
            </h3>
          </div>
          <p class="section-description">{{ section.description }}</p>
          <div class="section-meta">
            <span class="meta-item">
              <fa-icon [icon]="faClock" class="meta-icon"></fa-icon>
              {{ section.duration[0] }} {{"TRAINING_OVERVIEW.IMAGES" | translate}}, {{section.duration[1]}} {{"TRAINING_OVERVIEW.VIDEOS" | translate}}
            </span>
            <span class="meta-item">
              <fa-icon [icon]="faQuestionCircle" class="meta-icon"></fa-icon>
              {{ section.questionCount }}
              {{ "TRAINING_OVERVIEW.QUESTIONS" | translate }}
            </span>
          </div>
        </div>
        <button
          class="action-button"
          [class.review-button]="$index<userTraining.training_progress.modules_completed"
          [class.start-button]="$index==userTraining.training_progress.modules_completed"
          [disabled]="$index>userTraining.training_progress.modules_completed"
          (click)="goToModule(section.id)"
        >
          @if (section.completed) {
          <fa-icon [icon]="faPlayCircle" class="button-icon"></fa-icon>
          } @else {
          <fa-icon [icon]="faPlayCircle" class="button-icon"></fa-icon>
          }
          <ng-container *ngIf="$index < userTraining.training_progress.modules_completed; else startText">
            {{ 'TRAINING_OVERVIEW.REVIEW' | translate }}
          </ng-container>
          <ng-template #startText>
            {{ 'TRAINING_OVERVIEW.START' | translate }}
          </ng-template>
        </button>
      </div>
      }
    }
    </div>
@if(userTraining) {
  <div class="training-progress">
    <h3>{{ "TRAINING_OVERVIEW.MODULE_PROGRESS" | translate }}</h3>
    <div class="progress-container">
      <div class="progress-bar">
        <div
          class="progress-fill"
          [style.width.%]="getProgressPercentage()"
        ></div>
      </div>
      <div class="progress-text">
        {{ userTraining.training_progress.modules_completed }}
        {{
          "TRAINING_OVERVIEW.OF_COMPLETED"
            | translate : { completed: moduleSections.length}
        }}
      </div>
    </div>
  </div>
}

    <div class="action-buttons">
      <button class="back-button" (click)="goBack()">
        <fa-icon [icon]="faArrowLeft" class="button-icon"></fa-icon>
        {{ "TRAINING_OVERVIEW.BACK" | translate }}
      </button>
      <div class="tooltip-container">
        <button
          class="certificate-button"
          [disabled]="userTraining?.eligible_for_certificate == false"
          (click)="goToCertificate()"
        >
          <fa-icon [icon]="faCertificate" class="button-icon"></fa-icon>
          {{ "TRAINING_OVERVIEW.GO_FOR_CERTIFICATE" | translate }}
        </button>
        <div class="tooltip" *ngIf="userTraining?.eligible_for_certificate == false">
          {{ "TRAINING_OVERVIEW.BUY_CERTIFICATE_FIRST" | translate }}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- TODO: PUT THIS BACK LATER -->
<!-- [disabled]="userTraining.eligible_for_certificate == false" -->