<div class="form-group">
  <div class="flex">
    <h3>{{ "ADMIN_EDIT_MODULES.SUBTITLE" | translate }}</h3>
    <div class="setting-box">
      <span class="setting-label">
        {{ "ADMIN_EDIT_MODULES.SWITCH" | translate }}</span
      >
      <div class="switch-container">
        <label class="switch">
          <input type="checkbox" checked />
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="group">
    <label> {{ "ADMIN_EDIT_MODULES.MODULE_TITLE" | translate }}</label>
    <input
      type="text"
      [placeholder]="'ADMIN_EDIT_MODULES.ENTER_MODULE_TITLE' | translate"
    />

    <label> {{ "ADMIN_EDIT_MODULES.DESCRIPTION" | translate }}</label>
    <textarea
      [placeholder]="'ADMIN_EDIT_MODULES.ENTER_DESCRIPTION' | translate"
    ></textarea>
  </div>
  <div class="btn">
    <button class="save-btn" [routerLink]="['/admin/trainings']">
      {{ "ADMIN_EDIT_MODULES.SAVE_BUTTON" | translate }}
    </button>
  </div>
</div>
