<div class="assigned-card">
  <div class="icon-section">
    <div class="training-icon">
      <fa-icon [icon]="faLayerGroup" class="yellow-icon"></fa-icon>
    </div>
  </div>
  <div class="info-section">
    <div class="training-title">{{ training.training.title[language.getLanguage()] }}</div>
    <div class="training-date">
      {{"ASSIGNED_TRAINING_CARD.ASSIGNED_ON" | translate}} {{training.training_progress.start_date_time |  date:'d/MM/yyyy'}}
    </div>
  </div>
  <div class="button-section">
    <button class="start-now-button" (click)="goToModuleOverview()">
      {{ "ASSIGNED_TRAINING_CARD.START_NOW" | translate }}
    </button>
  </div>
</div>