<div class="assigned-card">
  <div class="icon-section">
    <div class="training-icon">
      <fa-icon [icon]="faLayerGroup" class="yellow-icon"></fa-icon>
    </div>
  </div>
  <div class="info-section">
    <div class="training-title">{{ getLocalizedTitle() }}</div>
    <div class="training-date">
      {{
        "ASSIGNED_TRAINING_CARD.ASSIGNED_ON"
          | translate
            : {
                date:
                  training.assignedDate ||
                  ("ASSIGNED_TRAINING_CARD.INVALID_DATE" | translate)
              }
      }}
    </div>
  </div>
  <div class="button-section">
    <button class="start-now-button" (click)="goToModuleOverview()">
      {{ "ASSIGNED_TRAINING_CARD.START_NOW" | translate }}
    </button>
  </div>
</div>