<body>
  <div class="container">
    <div class="card-container">
      <h3 class="title">
        {{ "ADMIN_ADD_MODULES.TRAINING_TITLE" | translate }}
      </h3>

      <div class="message-no-trainig">
        <!--<img
            src="assets/no-training.svg"
            alt="No trainings"
            class="pic-no-training"
          />-->
        <p>
          {{ "ADMIN_ADD_MODULES.NO_TRAINING_DESCRIPTION" | translate }}
        </p>
      </div>

      <div class="flex">
        <button
          class="btn"
          [routerLink]="['/add-module/trainings', 'new', 'content']"
        >
          {{ "ADMIN_ADD_MODULES.ADD_TRAINING" | translate }}
        </button>
      </div>
    </div>
  </div>
</body>
