.card-container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  padding-top: 10px;
  padding-right: 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Title styling */
.title {
  font-size: 1.125rem;
  font-weight: 600;
}

/* Section for no training message */
.message-no-training {
  margin-top: 16px;
  border-width: 1px;
  border-color: #e0e0e0;
  padding: 24px;
}

.pic-no-training {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

/* Button Styling */
.btn {
  background-color: #fbbf24;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
}

/* Flex container for button */
.flex {
  display: flex;
  justify-content: flex-end;
}
