<h2>{{ "ADMIN_ADD_TRAININGS.TITLE" | translate }}</h2>
<!-- Steps Indicator -->
<div class="progress-steps">
  <div class="progress-line"></div>
  <div class="step" [ngClass]="{ active: currentIndex === 0 }">
    <div class="step-number">1</div>
    <div class="step-label">
      {{ "ADMIN_ADD_TRAININGS.BASIC_SETUP" | translate }}
    </div>
  </div>
  <div class="step" [ngClass]="{ active: currentIndex === 1 }">
    <div class="step-number">2</div>
    <div class="step-label">
      {{ "ADMIN_ADD_TRAININGS.MODULES" | translate }}
    </div>
  </div>
  <div class="step" [ngClass]="{ active: currentIndex === 2 }">
    <div class="step-number">3</div>
    <div class="step-label">{{ "ADMIN_ADD_TRAININGS.EXAM" | translate }}</div>
  </div>
  <div class="step" [ngClass]="{ active: currentIndex === 3 }">
    <div class="step-number">4</div>
    <div class="step-label">
      {{ "ADMIN_ADD_TRAININGS.PREVIEW" | translate }}
    </div>
  </div>
</div>

@if(paths[currentIndex] == "basic-setup") {<app-basic-setup></app-basic-setup>}
@if(paths[currentIndex] == "modules") {<app-modules></app-modules>}
@if(paths[currentIndex] == "exam") {<app-exam></app-exam>}
@if(paths[currentIndex] == "preview") {<app-preview></app-preview>}

<!-- NavButtons -->
@if(paths[currentIndex] == 'basic-setup'){
<div class="next-previous" style="flex-direction: row-reverse">
  <button class="next-btn" (click)="goToNextStep()">
    {{ "ADMIN_ADD_TRAININGS.NEXT" | translate }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      style="margin-left: 8px"
    >
      <line x1="5" y1="12" x2="19" y2="12"></line>
      <polyline points="12 5 19 12 12 19"></polyline>
    </svg>
  </button>
</div>
} @else {
<div class="next-previous">
  <button class="prev-btn" (click)="goToPreviousStep()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="19" y1="12" x2="5" y2="12"></line>
      <polyline points="12 5 5 12 12 19"></polyline>
    </svg>
    {{ "ADMIN_ADD_TRAININGS.PREVIOUS" | translate }}
  </button>
  @if(paths[currentIndex] !== 'preview'){
  <button class="next-btn" (click)="goToNextStep()">
    {{ "ADMIN_ADD_TRAININGS.NEXT" | translate }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      style="margin-left: 8px"
    >
      <line x1="5" y1="12" x2="19" y2="12"></line>
      <polyline points="12 5 19 12 12 19"></polyline>
    </svg></button
  >} @if(paths[currentIndex] === 'preview'){
  <button class="publish-btn" (click)="publishTraining()">
    {{ "ADMIN_ADD_TRAININGS.PUBLISH" | translate }}</button
  >}
</div>
}

<!-- Loading Modal HTML -->
<div class="modal-overlay hidden" id="loadingModal">
  <div class="modal-content">
    <div class="spinner"></div>
    <p class="loading-text">
      {{ "ADMIN_ADD_TRAININGS.UPLOADING_DATA" | translate }}...
    </p>
  </div>
</div>
