<h2>{{ "ADMIN_ADD_TRAININGS.TITLE" | translate }}</h2>
<!-- Steps Indicator -->
<div class="steps">
  @for (step of steps; track step) { @if (steps.indexOf(step) > 0) {
  <div class="line"></div>
  }
  <div class="step-container">
    <div [class.active]="currentStep === step" class="step">
      <div class="circle">{{ steps.indexOf(step) + 1 }}</div>
      <span>{{ step | titlecase }}</span>
    </div>
  </div>
  }
</div>

<div>
  <router-outlet></router-outlet>
</div>
<!-- NavButtons -->
@if(currentStep == 'basic-setup'){
<div class="next-previous" style="flex-direction: row-reverse">
  <button class="next-btn" (click)="goToNextStep()">
    {{ "ADMIN_ADD_TRAININGS.NEXT" | translate }}
  </button>
</div>
} @else {
<div class="next-previous">
  <button class="prev-btn" (click)="goToPreviousStep()">
    &larr; {{ "ADMIN_ADD_TRAININGS.PREVIOUS" | translate }}
  </button>
  @if(currentStep !== 'preview'){
  <button class="next-btn" (click)="goToNextStep()">
    {{ "ADMIN_ADD_TRAININGS.NEXT" | translate }}</button
  >} @if(currentStep === 'preview'){
  <button class="publish-btn" (click)="publishTraining()">
    {{ "ADMIN_ADD_TRAININGS.PUBLISH" | translate }}</button
  >}
</div>
}

<!-- Loading Modal HTML -->
<div class="modal-overlay hidden" id="loadingModal">
  <div class="modal-content">
    <div class="spinner"></div>
    <p class="loading-text">
      {{ "ADMIN_ADD_TRAININGS.UPLOADING_DATA" | translate }}...
    </p>
  </div>
</div>
