<nav class="navbar">
  <div class="navbar-logo">
    <img
      src="../../assets/images/periskal_logo_wide.png"
      alt="Periskal Group"
    />
  </div>
  <div class="navbar-user">
    <span class="user-icon">
      <fa-icon [icon]="faUser" class="yellow-icon"></fa-icon>
    </span>
    @if (currentUser$ | async; as user) {
    <div class="user-info">
      <div class="user-name">{{ user.Firstname }} {{ user.Lastname }}</div>
      <div [ngClass]="[getRoleClass(), 'user-role']">
        {{ user.Role.charAt(0).toUpperCase() + user.Role.slice(1) }}
      </div>
    </div>
    }
  </div>
  <ul class="navbar-links">
    @for (link of navLinks; track link) { @if (isLinkVisible(link)) {
    <li>
      <a [routerLink]="link.path" routerLinkActive="is-active">
        <span class="icon-wrapper">
          <fa-icon [icon]="link.icon" class="yellow-icon"></fa-icon>
        </span>
        {{ link.label }}
      </a>
    </li>
    } }
  </ul>
  <div class="navbar-actions">
    <div class="language-selector">
      <span class="language-icon"
        ><fa-icon [icon]="faGlobe" class="yellow-icon"></fa-icon
      ></span>
      <select [(ngModel)]="language" (change)="onLanguageChange()">
        <option value="ENGLISH">English</option>
        <option value="DUTCH">Nederlands</option>
        <option value="FRENCH">Français</option>
        <option value="GERMAN">Deutsch</option>
      </select>
    </div>
    <a (click)="logout()" class="logout-button" style="cursor: pointer">
      <span class="logout-icon">
        <fa-icon [icon]="faSignOutAlt" class="red-icon"></fa-icon>
      </span>
      Logout
    </a>
  </div>
</nav>
