<nav class="navbar">
  <div class="navbar-logo">
    <!-- <img src="assets/logo.png" alt="My App Logo" /> -->
  </div>
  <div class="navbar-user">
    <!-- TODO: user info here /> -->
  </div>
  <ul class="navbar-links">
    <li><a routerLink="modules">Modules</a></li>
    <li><a routerLink="certificates">Certificates</a></li>
    <li><a routerLink="tips-and-tricks">Tips and tricks</a></li>
    <li><a routerLink="user-management">User Management</a></li>
    <li><a routerLink="skippers">Skippers</a></li>
    <li><a routerLink="support">Support</a></li>
  </ul>
  <div class="navbar-actions">
    <div class="language-selector">
      <span class="language-icon"></span>
      <select>
        <option value="en">English</option>
        <option value="fr">French</option>
        <option value="nl">Dutch</option>
        <option value="de">German</option>
      </select>
    </div>
    <a href="#" class="logout-button">
      <span class="logout-icon"></span>
      Logout
    </a>
  </div>
</nav>
