.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 220px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  overflow-y: auto; /* Enables vertical scrolling */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.navbar::-webkit-scrollbar {
  width: 8px;
}

.navbar::-webkit-scrollbar-thumb {
  background-color: #cccccc;
  border-radius: 4px;
}

.navbar::-webkit-scrollbar-thumb:hover {
  background-color: #aaaaaa;
}

.navbar-logo {
  padding: 15px;
  border-bottom: 1px solid #f0f0f0;
}

.navbar-logo img {
  width: 175px;
  height: auto; /* Maintain aspect ratio */
}

.navbar-user {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #f0f0f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-role {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
  font-weight: 500;
}

.administrator-role {
  background-color: #f2e6fe;
  color: #c09ede;
}
.support-role {
  background-color: #ffedd5;
  color: #bb7154;
}
.fleetmanager-role {
  background-color: #dcfce7;
  color: #62a57c;
}
.skipper-role {
  background-color: #e6f0ff;
  color: #1a56db;
}
.installer-role {
  background-color: #c8fbf1;
  color: #5c998f;
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-links a {
  display: flex;
  align-items: center;
  padding: 12px 17px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
  border-radius: 8px;
  margin: 5px 10px;
  box-sizing: border-box;
}

.language-selector:hover,
.logout-button:hover,
.navbar-links a:hover {
  background-color: #fffae5;
  border-radius: 8px;
}

.logout-button:hover {
  color: darkred;
}

.is-active {
  background-color: #fffae5;
  border-radius: 8px;
}

.navbar-actions {
  margin-top: auto;
  padding: 12px 17px;
}

.language-selector {
  display: flex;
  padding: 10px 0px;
  background-color: white;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.language-selector select {
  flex-grow: 1;
  background: transparent;
  border: none;
  color: #333;
  font-size: 1rem;
  padding: 5px 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.language-selector select:focus {
  outline: none;
}

.logout-button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Icons */
.yellow-icon {
  color: #ffcc00;
}

.red-icon {
  color: #ff5555;
}

.icon-wrapper {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.navbar-user {
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #f0f0f0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.language-icon {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.logout-icon {
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

.navbar-links a {
  display: flex;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.2s;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.language-selector {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  background-color: white;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
