<div class="training-overview">
  <div class="training-header">
    <span class="icon">🔒</span>
    <span class="title">
      {{ "ADMIN_ADD_TRAININGS.TRAINING_OVERVIEW" | translate }}</span
    >
  </div>
  <div class="training-content">
    <p>
      <span class="status-icon">✅</span>
      {{ "ADMIN_ADD_TRAININGS.TRAINING_BASIC_INFO" | translate }}
    </p>
    <p>
      <span class="status-icon">✅</span>
      {{ "ADMIN_ADD_TRAININGS.TRAINING_MODULE" | translate }}
    </p>
    <p>
      <span class="status-icon">✅</span>
      {{ "ADMIN_ADD_TRAININGS.TRAINING_EXAM" | translate }}
    </p>
  </div>
</div>
