<div class="chat-container" *ngIf="isOpen" >  <!--[class.hidden]="!isOpen"--> 
    <div class="chat-header">
        <div class="chat-header-left">
            <div class="support-icon">
                <fa-icon [icon]="faHeadset"></fa-icon>
            </div>
            <div>
                <div class="support-title">{{"TRAINEE_CHAT.PERISKAL_SUPPORT" | translate}}</div>
                <div class="support-status">{{"TRAINEE_CHAT.READY_TO_HELP" | translate}}</div>
            </div>
        </div>
        <button class="close-button" (click)="toggleChat()">&times;</button>
    </div>

    <div class="chat-body" #chatBody>
        <div class="message">
            <div class="message-avatar">
                <fa-icon [icon]="faHeadset"></fa-icon>
            </div>
            <div class="message-content">
                <p>👋 {{"TRAINEE_CHAT.HOW_CAN_I_HELP" | translate}}</p>
                <p>{{"TRAINEE_CHAT.FEEL_FREE_TO_ASK" | translate}}</p>
                <ul class="topic-list">
                    <li>{{"TRAINEE_CHAT.CERTIFICATE_REQUIREMENTS" | translate}}</li>
                    <li>{{"TRAINEE_CHAT.MODULE_PROGRESS" | translate}}</li>
                    <li>{{"TRAINEE_CHAT.TECHNICAL_SUPPORT" | translate}}</li>
                    <li>{{"TRAINEE_CHAT.GENERAL_QUESTIONS" | translate}}</li>
                </ul>
            </div>
        </div>
        @for(message of messageList; track $index) {
            @if(message.chat_member_id==chatMemberId) {
                <div class="message my-message">
                    <div class="message-content">
                        {{message.text_content}}
                    </div>
                </div>
            }
            @else {
                <div class="message">
                    <div class="message-avatar">
                        <fa-icon [icon]="faHeadset"></fa-icon>
                    </div>
                    <div class="message-content">
                        {{message.text_content}}
                    </div>
                </div>
            }
        }
    </div>

    <div class="chat-input">
        <input type="text" class="input-field" placeholder="{{'TRAINEE_CHAT.TYPE_YOUR_QUESTION' | translate}}" [(ngModel)]="message" (keydown.enter)="sendMessage()" maxlength="255">
        <button class="send-button" (click)="sendMessage()">
            <fa-icon [icon]="faPaperPlane"></fa-icon>
        </button>
    </div>
</div>
@if(isTrainee) {
    <button class="chat-button" *ngIf="!isOpen" (click)="toggleChat()"><fa-icon [icon]="faComments"></fa-icon></button>
}
  