<header>
  <nav>
    <div class="top-row">
      <h1>Sailors Management</h1>
      <button class="assign-btn">
        <fa-icon [icon]="faCertificate" class="btn-icon"></fa-icon>Assign
        Certificate
      </button>
    </div>
    <div class="search-container">
      <select [(ngModel)]="selectedFilter" (change)="filterSkippers()">
        <option value="default">Filter by</option>
        <option value="name">Name</option>
        <option value="shipname">Shipname</option>
        <option value="products">Products</option>
        <option value="certificates">Certificates</option>
      </select>
      <div class="search-input-container">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="filterSkippers()"
          placeholder="Search sailors..."
          name="search-sailors"
        />
      </div>
    </div>
    <div class="sailors-list">
      <table>
        <thead>
          <tr>
            <th class="name-column">NAME</th>
            <th>PRODUCTS</th>
            <th>CERTIFICATES</th>
            <th>TRAINING PROGRESS</th>
          </tr>
        </thead>
        <tbody>
          @for (skipper of filteredSkippersList; track $index) {
          <tr [routerLink]="['/user-detail', skipper.id]">
            <td class="name-cell">
              <div class="initials">
                {{ skipper.firstname.charAt(0).toUpperCase()
                }}{{ skipper.lastname.charAt(0).toUpperCase() }}
              </div>
              <div class="sailor-details">
                <div class="sailor-name">
                  {{ skipper.firstname }} {{ skipper.lastname }}
                </div>
                <div class="sailor-schip">{{ skipper.shipname }}</div>
              </div>
            </td>
            <td>{{ skipper.products }}</td>
            <td>
              <span class="certificate-tag active">{{
                skipper.certificates
              }}</span>
            </td>
            <td>
              <div class="progress-bar">
                <div class="progress" style="width: 85%"></div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </nav>
</header>
