<header>
  <nav>
    <div class="top-row">
      <h1>{{ "USER_MANAGEMENT.SKIPPERS" | translate }}</h1>
    </div>
    <div class="search-container">
      <select [(ngModel)]="selectedFilter" (change)="filterSkippers()">
        <option value="default">
          {{ "USER_MANAGEMENT.FILTER_BY" | translate }}
        </option>
        <option value="name">{{ "USER_MANAGEMENT.NAME" | translate }}</option>
        <option value="shipname">
          {{ "USER_MANAGEMENT.SHIPNAME" | translate }}
        </option>
        <option value="products">
          {{ "USER_MANAGEMENT.TRAININGS" | translate }}
        </option>
        <option value="certificates">
          {{ "USER_MANAGEMENT.CERTIFICATES" | translate }}
        </option>
      </select>
      <div class="search-input-container">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>
        <input
          type="text"
          [(ngModel)]="searchTerm"
          (input)="filterSkippers()"
          [placeholder]="'USER_MANAGEMENT.SEARCH_USERS' | translate"
          name="search-sailors"
        />
      </div>
    </div>
    <div class="sailors-list">
      <table>
        <thead>
          <tr>
            <th class="name-column">
              {{ ("USER_MANAGEMENT.NAME" | translate).toUpperCase() }}
            </th>
            <th>
              {{ ("USER_MANAGEMENT.TRAININGS" | translate).toUpperCase() }}
            </th>
            <th>
              {{ ("USER_MANAGEMENT.CERTIFICATES" | translate).toUpperCase() }}
            </th>
            <th>
              {{
                ("USER_MANAGEMENT.MODULES_PROGRESS" | translate).toUpperCase()
              }}
            </th>
          </tr>
        </thead>
        <tbody>
          @for (skipper of filteredSkippersList; track $index) {
          <tr [routerLink]="['/userdetail', skipper.id]">
            <td class="name-cell">
              <div class="initials">
                {{ skipper.firstname.charAt(0).toUpperCase()
                }}{{ skipper.lastname.charAt(0).toUpperCase() }}
              </div>
              <div class="sailor-details">
                <div class="sailor-name">
                  {{ skipper.firstname }} {{ skipper.lastname }}
                </div>
                <div class="sailor-schip">{{ skipper.shipname }}</div>
              </div>
            </td>
            <td>{{ skipper.products }}</td>
            <td>
              <span class="certificate-tag active">{{
                skipper.certificates
              }}</span>
            </td>
            <td>
              <div class="progress-bar">
                <div class="progress" [style.width]="skipper.module_completion"></div>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </nav>
</header>
