<div class="trainings-container">
  <div class="header">
    <h1>{{ "TRAININGS.TITLE" | translate }}</h1>
    <div class="actions">
      <div class="search-bar">
        <input
          type="text"
          [placeholder]="'TRAININGS.SEARCH_PLACEHOLDER' | translate"
          class="search-input"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearchChange()"
        />
      </div>
    </div>
  </div>

  <!-- Loading and Error States -->
  <div *ngIf="loading" class="loading-indicator">
    {{ "TRAININGS.LOADING" | translate }}
  </div>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <!-- Assigned Trainings Section -->
  <ng-container *ngIf="!loading && !error">
    <h2 class="section-title">
      {{ "TRAININGS.ASSIGNED_SECTION" | translate }}
    </h2>
    <div
      class="assigned-trainings"
      *ngIf="assignedTrainings.length > 0; else noAssignedTrainings"
    >
      @for (training of assignedTrainings; track training.id) {
      <app-assigned-training-card
        [training]="training"
        [currentLanguage]="currentLanguage"
      ></app-assigned-training-card>
      }
    </div>
    <ng-template #noAssignedTrainings>
      <div class="no-results">
        {{ "TRAININGS.NO_ASSIGNED_TRAININGS" | translate }}
      </div>
    </ng-template>

    <!-- All Available Trainings Section -->
    <h2 class="section-title">
      {{ "TRAININGS.ALL_TRAININGS_SECTION" | translate }}
    </h2>
    <div
      class="trainings-grid reduced-columns"
      *ngIf="trainings.length > 0; else noTrainings"
    >
      @for (training of trainings; track training.id) {
      <app-training-card
        [training]="training"
        [currentLanguage]="currentLanguage"
      ></app-training-card>
      }
    </div>
    <ng-template #noTrainings>
      <div class="no-results">
        {{ "TRAININGS.NO_TRAININGS_FOUND" | translate }}
      </div>
    </ng-template>
  </ng-container>
  <app-trainee-chat></app-trainee-chat>
</div>
