<div class="sailor-details-container">
    <div class="page-actions">
        <a [href]="authService.currentUserValue?.Role=='Fleetmanager' ? 'skippers' : 'user-management'" class="back-button">
            <i class="fas fa-arrow-left">&larr;</i>
            <h2 class="title">{{'USER_DETAIL.USER_DETAIL' | translate}}</h2>
        </a>
        @if(role.toLocaleUpperCase()=="ADMINISTRATOR") {
            <button [routerLink]="['/admin/certificates/'+userId]" class="assign-certificate-btn">+ {{"USER_DETAIL.ASSIGN_NEW_CERTIFICATE" | translate}}</button>
        }
    </div>

    <div class="sailor-header">
        <div class="sailor-profile">
            <div class="avatar">{{user?.firstname?.[0]?.toLocaleUpperCase() ?? ""}}{{user?.lastname?.[0]?.toLocaleUpperCase() ?? ''}}</div>
            <div class="sailor-info">
                <h2>{{user?.firstname ?? ''}} {{user?.lastname ?? ''}}</h2>
                <p>{{user?.shipname ?? ''}}</p>
            </div>
        </div>
        <div class="progress-bar">
            {{"USER_DETAIL.OVERALL_PROGRESS"|translate}}
            <div class="overall-progress">
                <div [style.width.%]="overallProgress" class="overall-progress-bar"></div>
            </div>
        </div>
    </div>



    <div class="trainings-section">
        <h3>{{"USER_DETAIL.TRAININGS_PROGRESS" | translate}}</h3>
        <div class="trainings-filters">
            <select [(ngModel)]="selectedStatus" (change)="filterTrainings()">
                <option value="ALL">{{"USER_DETAIL.ALL_STATUS" | translate}}</option>
                <option value="IN_PROGRESS">{{"USER_DETAIL.IN_PROGRESS" | translate}}</option>
                <option value="COMPLETED">{{"USER_DETAIL.COMPLETED" | translate}}</option>
            </select>
            <input type="text" [(ngModel)]="searchQuery" (input)="filterTrainings()" [placeholder]='"USER_DETAIL.SEARCH_TRAININGS" | translate'>
        </div>
        @if(filteredUserDetails.length==0) {
            <div>{{"USER_DETAIL.NO_TRAININGS_ASSIGNED" | translate}}</div>
        }
        @else {

            @for(detail of filteredUserDetails; track $index) {
                <div class="training-item">
                    <div class="training-header">
                        <h4>{{detail.training.title?.[currentLanguage]}}</h4>
                        <div class="training-status status-completed">{{ mapStatusToTranslationKey(detail.training_progress?.status) | translate }}</div>
                    </div>
                    <div class="course-progress">
                        <div class="course-progress-bar" [style.width.%]="(detail.training_progress.modules_completed/detail.training.modules.length)*100"></div>
                    </div>
                    <p>{{'USER_DETAIL.ASSIGNED_ON' | translate}}: {{ detail.training_progress?.start_date_time ? (detail.training_progress.start_date_time | date:'d/MM/yyyy, H:mm:ss') : 'N/A' }}</p>
                    <p>{{'USER_DETAIL.LAST_ACTIVITY' | translate}}: {{ detail.training_progress?.last_time_accessed ? (detail.training_progress.last_time_accessed | date:'d/MM/yyyy, H:mm:ss') : 'N/A' }}</p>
                    <div class="exam-status">
                        <h4>{{'USER_DETAIL.EXAM_STATUS' | translate}}</h4>
                        @if(detail.exam_attempts.length==0) {
                            <div>{{'USER_DETAIL.NO_EXAM_ATTEMPTS_YET' | translate}}</div>
                        }
                        @else {
                            @for(attempt of detail.exam_attempts; track $index) {
                                <div>
                                    <p>{{'USER_DETAIL.ATTEMPT' | translate}} #{{$index+1}}: {{attempt.end_date_time | date:'d/MM/yyyy, H:mm:ss'}}</p>
                                    <p [ngClass]="attempt.score < 50 ? 'exam-failed' : 'exam-passed'">
                                        {{ attempt.exam_status_type }} {{ attempt.score }}%
                                    </p>
                                </div>
                            }
                        }
                    </div>
                    <div class="exam-status">
                        <h4>{{"USER_DETAIL.CERTIFICATE" | translate}}</h4>
                        @if(userCertificateMap.get(detail.training.id)!=null) {
                            <div class="certificate_detail">
                                <ul>
                                    <li>
                                        {{"USER_DETAIL.ISSUE_DATE" | translate}}: {{userCertificateMap.get(detail.training.id)?.issue_date | date:'d/MM/yyyy'}}
                                    </li>
                                    <li>
                                        {{"USER_DETAIL.EXPIRY_DATE" | translate}}: {{userCertificateMap.get(detail.training.id)?.expiry_date | date:'d/MM/yyyy'}}
                                    </li>
                                </ul>

                                <button class="dl-certificate-btn" (click)="downloadPdf(userCertificateMap.get(detail.training.id)!.id)">{{"USER_DETAIL.DOWNLOAD_CERTIFICATE" | translate}}</button>
                            </div>
                        }
                        @else {
                            <p>{{"USER_DETAIL.NO_CERTIFICATE" | translate}}</p>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
