<div class="sailor-details-container">
    <div class="page-actions">
        <a href="#" class="back-button">
            <i class="fas fa-arrow-left">&larr;</i>
            <h2 class="title">{{'USER_DETAIL.USER_DETAIL' | translate}}</h2>
        </a>
        <button class="assign-certificate-btn">+ {{"USER_DETAIL.ASSIGN_NEW_CERTIFICATE" | translate}}</button>
    </div>

    <div class="sailor-header">
        <div class="sailor-profile">
            <div class="avatar">JS</div>
            <div class="sailor-info">
                <h2>{{userdetails?.[0]?.user?.firstname ?? ''}} {{userdetails?.[0]?.user?.lastname ?? ''}}</h2>
                <p>{{userdetails?.[0]?.user?.shipname ?? ''}}</p>
            </div>
        </div>
        <div class="progress-bar">
            {{"USER_DETAIL.OVERALL_PROGRESS"|translate}}
            <div class="overall-progress">
                <div class="overall-progress-bar"></div>
            </div>
        </div>
    </div>



    <div class="modules-section">
        <h3>{{"USER_DETAIL.MODULES_PROGRESS" | translate}}</h3>
        <div class="modules-filters">
            <select>
                <option>{{"USER_DETAIL.ALL_STATUS" | translate}}</option>
                <option>{{"USER_DETAIL.IN_PROGRESS" | translate}}</option>
                <option>{{"USER_DETAIL.COMPLETED" | translate}}</option>
            </select>
            <input type="text" [placeholder]='"USER_DETAIL.SEARCH_MODULES" | translate'>
        </div>
        @for(detail of userdetails; track $index) {
            <div class="module-item">
                <div class="module-header">
                    
                    <h4>{{detail.module.title?.[currentLanguage]}} Certificate</h4>
                    <div class="module-status status-completed">{{detail.module_progress}}</div>
                </div>
                <p>Assigned on February 1, 2024</p>
                <div class="course-progress">
                    <div class="course-progress-bar" style="width: 100%;"></div>
                </div>
                <p>Last activity: Today at 14:30</p>
                <div class="exam-status">
                    <h4>Exam status</h4>
                @for(attempt of detail.exam_attempts; track $index) {
                        <div>
                            <p>First attempt: {{attempt.end_date_time}}</p>
                            <p class="exam-failed">{{attempt.exam_status_type}} {{attempt.score}}%</p>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>