<div class="training-card">
  <div class="training-header">
    <div>
      <h2 class="training-title">
        {{ getLocalizedTitle() }}
      </h2>
    </div>
  </div>

  <p class="training-description">{{ getLocalizedDescription() }}</p>

  <div class="training-info">
    <div class="module-count">
      <span class="icon">
        <fa-icon [icon]="faLayerGroup"></fa-icon>
      </span>
      {{ training.moduleCount }} {{"TRAINING_CARD.MODULES" | translate}}
    </div>

    @if (training.hasCertificate) {
    <div class="certificate-icon">
      <span class="icon">
        <fa-icon [icon]="faCertificate"></fa-icon>
      </span>
      {{"TRAINING_CARD.CERTIFICATE" | translate}}
    </div>
    }
  </div>

  @if (training.progress !== undefined) {
  <div class="progress-container">
    <div class="progress-bar">
      <div class="progress-fill" [style.width.%]="training.progress"></div>
    </div>
  </div>
  }

  <button class="action-button" (click)="goToModuleOverview()">
    {{ "TRAINING_CARD.START_TRAINING" | translate }}
  </button>
</div>