<div class="question-pool">
  <label>{{ "ADMIN_EDIT_TRAININGS.QUESTION_POOL" | translate }}</label>
  <select class="input">
    <option>{{ "ADMIN_EDIT_TRAININGS.MULTIPLE_CHOICE" | translate }}</option>
    <option>{{ "ADMIN_EDIT_TRAININGS.TRUE_FALSE" | translate }}</option>
  </select>

  <label>{{ "ADMIN_EDIT_TRAININGS.QUESTION_TEXT" | translate }}</label>
  <textarea class="input"></textarea>

  <label>{{ "ADMIN_EDIT_TRAININGS.ANSWER_OPTION" | translate }}</label>
  <div class="answer-option">
    <input type="radio" />
    <input
      type="text"
      class="input"
      [placeholder]="'ADMIN_EDIT_TRAININGS.OPTION_PLACEHOLDER' | translate"
    />
    <button class="delete-btn">✖</button>
  </div>
  <div class="button-container">
    <button class="add-option-btn">
      {{ "ADMIN_EDIT_TRAININGS.ADD_OPTION" | translate }}
    </button>
    <button class="add-question-btn">
      {{ "ADMIN_EDIT_TRAININGS.ADD_QUESTION" | translate }}
    </button>
  </div>
</div>
