<div class="question-pool">
  <label class="margin-top title">{{
    "ADMIN_EDIT_TRAININGS.QUESTION_POOL" | translate
  }}</label>

  @for(question of trainingService.newModule.questions; track questionIndex; let
  questionIndex = $index){
  <label
    class="margin-top"
    style="display: flex; justify-content: space-between"
    >{{ "ADMIN_EDIT_TRAININGS.QUESTION_TEXT" | translate }}
    <button
      class="delete-question-btn"
      style="background-color: transparent; border: none"
      (click)="deleteQuestion(questionIndex)"
    >
      <fa-icon [icon]="faTrash" style="color: gray"></fa-icon>
    </button>
  </label>
  <textarea
    #questionRef
    class="input"
    [placeholder]="'ADMIN_EDIT_TRAININGS.ENTER_QUESTION' | translate"
    style="font-family: Arial, Helvetica, sans-serif"
    (input)="questionChange(questionIndex)"
  ></textarea>

  <label>{{ "ADMIN_EDIT_TRAININGS.ANSWER_OPTION" | translate }}</label>
  @for (option of question.question_options; track optionIndex; let optionIndex
  = $index) {
  <div class="answer-option">
    <input
      type="radio"
      (change)="answerChoose(questionIndex, optionIndex)"
      [checked]="
        trainingService.newModule.questions[questionIndex].question_options[
          optionIndex
        ].correct
      "
    />
    <input
      #answerRef
      type="text"
      class="input"
      [placeholder]="'ADMIN_EDIT_TRAININGS.OPTION_PLACEHOLDER' | translate"
      (input)="answerChange(optionIndex, questionIndex)"
    />
    <button
      class="delete-btn"
      (click)="deleteQuestionOption(questionIndex, optionIndex)"
    >
      ✖
    </button>
  </div>
  }
  <div class="button-container border-down">
    <button class="add-option-btn" (click)="addQuestionOption(questionIndex)">
      {{ "ADMIN_EDIT_TRAININGS.ADD_OPTION" | translate }}
    </button>
  </div>
  }

  <div class="button-container">
    <button class="add-question-btn" (click)="questionAdd()">
      {{ "ADMIN_EDIT_TRAININGS.ADD_QUESTION" | translate }}
    </button>
  </div>
</div>
