<div class="assigned-card">
  <div class="icon-section">
    <div class="module-icon">
      <fa-icon [icon]="faLayerGroup" class="yellow-icon"></fa-icon>
    </div>
  </div>
  <div class="info-section">
    <div class="module-title">{{ module.title }}</div>
    <div class="module-date">
      {{
        "ASSIGNED_MODULE_CARD.ASSIGNED_ON"
          | translate
            : {
                date:
                  module.assignedDate ||
                  ("ASSIGNED_MODULE_CARD.INVALID_DATE" | translate)
              }
      }}
    </div>
  </div>
  <div class="button-section">
    <button class="start-now-button">
      {{ "ASSIGNED_MODULE_CARD.START_NOW" | translate }}
    </button>
  </div>
</div>
